.newsletter-block .form-control {
    height: 50px !important;
}

.page-title-section {
    padding-top: 10px;
    padding-bottom: 10px;
}
@media (min-width: 992px) {
    .page-title-section {
        padding-top: 150px;
        padding-bottom: 10px;
    }
}

.newsletter-block {
    padding-left: 20px;
}

.form-control.custom-input {
    background: #182b45;
    border-color: #fff;
    font-weight: bold;
    border-width: 2px;
    color: #fff;
}
.form-control.custom-input:focus {
    background: #182b45;
    border-color: #fff;
    font-weight: bold;
    border-width: 2px;
    color: #fff;
}
.form-control.custom-input:disabled, .form-control[readonly] {
    background-color: #182b45;
    opacity: 1;
}
.form-control.custom-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

.form-control.custom-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

.form-control.custom-input::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}
.heading-color{
    color: #182b45
}
.form-border
{
    border: 2px solid #182b45!important;
}
.error-help-block
{
    color: #182b45;
    font-weight: bold;
}

/******** Login Page Css ***********/
/* Coded with love by Mutiullah Samim */
.user_card {
    height: 500px;
    width: 450px;
    margin-top: auto;
    margin-bottom: auto;
    background: #ffbc3b;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #182b45;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #fff !important;
    color: #ffbc3b !important;
}
.login_btn:hover{
    color: #f8f9fa !important;;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #182b45 !important;
    color: #ffbc3b !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    width: 60px;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #182b45 !important;
}
.login-margin{
    margin-top: 100px;
    margin-bottom: 20px;
}
.input_user,
.input_pass {
    border-color: #182b45 !important;
}
.help-section{
    padding-left: 20px;
    padding-right: 20px;
}
.custom-card{
    background: #182b45;
    color: #fff;
}

.table td, .table th {
    border-top: 1px solid #182b45;
}
thead{
    background: #182b45;
    color: #fff;
}
table.dataTable tbody tr {
    background-color: #ffbc3b;
    color:#182b45;
    font-weight: 900;
}

.notification-error
{
    color: rgba(255,255,255,0.9);
    background-color: #dc3545;
    border-color: #dc3545;
}


